* {
  padding: 0;
  margin: 0;
}

/* styles.css */
body {
  display: none; /* Hide the content initially */
}

header a {
  color: #000;
}

.main-logo {
  display: block;
  width: 50%;
  text-align: center;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.company-title {
  margin-top: 16px;
}

.title {
  margin-top: 16px;
}

.notification {
  background-color: #f4f4f4;
  margin: 8px 0px;
  padding: 16px;
  border-radius: 25px;
}

.button[value="Delete"] {
  background-color: #fff;
  color: #000;
  border-radius: 25px;
  border: 2px solid #000;
  margin-top: 16px;
}

/* Solid button*/
.button[value="Follow"] {
  background-color: #fff;
  color: #000;
  border-radius: 25px;
  border: 2px solid #000;
  margin-top: 16px;
}

/* Solid button*/
.button {
  background-color: #000;
  color: #fff;
  border-radius: 25px;
  margin: 16px 0px;
}

.sociallogos {
  display: inline-block;
}

/* Style the chip */
.chip {
  display: inline-block;
  padding: 0 16px;
  font-size: 12px;
  line-height: 24px;
  border-radius: 25px;
  background-color: #ffffff;
  border: 1px solid #111111;
  margin: 8px 4px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border-style: none;
  background-color: #ffffff;
  margin: 16px 0px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #d0d0d0;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #fff;
  border: 2px solid #000;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}

.meetCard {
  border-radius: 16px;
  border: 1px solid #000;
  background: #FFF;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 4px;
  margin: 16px 0px;
}

input[type="checkbox"] { 
  position: relative;
}

.checkbox {
  position: absolute;
  height: var(--size);
  border-radius: 5px;
  border: var(--border) solid grey;
  width: var(--size);
  transition: 100ms ease-in;
  cursor: pointer;
}

input:checked + .checkbox {
  background: black;
  border: var(--border) solid black;
}

.footer-simple {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: #fff;
  text-align: left;
  margin: 8px;
  padding: 8px;
}

footer img {
  width: 40%;
  margin: 16px 0px;
}

footer ul {
  list-style-type: none;
  margin: 0px;
  margin-bottom: 16px;
  padding: 0px;
  font-size: small;
}

footer a {
  color: #FFF;
}